* {
  margin: 0;
  padding: 0;
}

body {
  background: #aeaeae;
}

.app-wrapper {
  display: grid;
  justify-content: center;
  margin: 0 auto;

  grid-gap: 10px;
  grid-row-gap: 10px;

  width: 1200px;
}

.content-block {
  display: inline-grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  
}